@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit',sans-serif;
}

:root {
  font-size: 16px;
  --cor-primaria: #7c2efb ;
  --cor-secundaria : #6C63FF ;
  --cor-sucess : #97FF58;
  --background : #1e0738de;
}

body{
    background-image: linear-gradient( to bottom, var(--cor-primaria),#7a28ff, #6D1CF2 )
}


main {
    min-block-size: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
  
    padding: 0px 30px 0px 30px;
  }
  

p{
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
}

i{
    font-size: 2.25rem;
    color: #fff;
}




/* Estilos do header  */


header{
    margin: 0px 0px 1rem 0px;
    display: flex;
    padding: 0px 50px 0px 50px;

}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 37.5rem;
    list-style: none;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'outfit', sans-serif;
    transition: 10ms;
}
header nav ul li{
    transition: 100ms;
}

header nav div{
    display: flex;
    align-items: center;
}

header nav button{
    width:  149px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    border:solid  2px #fff;
    transition: 100ms;
}
header nav button a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 50px 10px 50px
}

.Logo img{
    width: 105px;
    height: 80px;
}

header nav ul li:hover{
    padding-bottom: 9px;
    transition: 150ms;
}
header button:hover{
    background-color: #fff;
}

header button a:hover{
    color: var(--cor-primaria);
}



/* elementos repetitivos */

.circulos-layout{
    width: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.circulos{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100%;
}

.title-default{
    font-size: 3rem;
    color: #fff;
    line-height: 3rem;
}

.title-default b{
    color: var(--cor-secundaria);
}

.button-default{
    max-width: 250px;
    min-width: 200px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color:var(--cor-sucess)}
.button-default > a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
}

.button-default:hover{
    background-color: #7df235;
}

.background{
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}


/* conteudo da aplicação */




.hero {
  min-block-size: 70vh;
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 1.5rem;
  background-color: var(--background);
}

.hero > img{
    width: 100%;
    max-width: 600px;
    align-self: center;
    justify-self: center;
}

.hero-content{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1.5rem;
}

.container-hero-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-hero-content > p {
    width: 80%;
    margin: 20px 0px 30px 0px;
}

/* estilos About */




.about {
  min-block-size: 80vh;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 0px 30px;
}

.about-content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
    padding: 2rem;
}

.about-content > p{
    margin: 15px 0px;
}


.about-info {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.about-info ul{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.about-info ul > li{
    height: 85%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}


.about-image {
  background-color: rgb(142, 250, 121);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}




.cards {
  min-block-size: 40vw;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 3fr;
  gap: 20px;
}

.card[variant-1] {
  background-color: blueviolet;
}
.card[variant-2] {
  background-color: rgb(115, 130, 248);
}
.card[variant-3] {
  background-color: rgb(43, 226, 80);
}

.faqs {
  min-block-size: 80vh;
  display: grid;
  background-color: blueviolet;
}

.links {
  min-block-size: 80vh;
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 30px;
}

.links-content {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: blueviolet;
}

.links-image {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(43, 226, 80);
}





@media screen and (max-width: 1000px) {
    .circulos{
        width: 20px;
        height: 20px;
    }


  .about {
    min-block-size: 80vh;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 0px 30px;
  }

  .about-image {
    background-color: rgb(142, 250, 121);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .about-content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .about-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (max-width : 950px){

    :root{
        font-size: 10px;
    }

    .hero{
        min-block-size: 50vh;
    }
    

}

@media screen and (max-width: 630px) {
    :root{
        font-size: 14px;
    }

    .hero{
        min-block-size: 70vh;
    }

    .hero > img{
        display: none;
    }
    
    .hero-content{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4; 
    }

    .hero-content > .circulos-layout{
        margin-bottom: 20px;
    }


    .about{
        grid-template-rows: 2fr 3fr 1.5fr;
    }
    .about-info  {
        grid-row-start: 3;
        grid-row-end: 4; 
    }

    
}