:root {
  font-size: 16px;
  --cor-primaria: #7c2efb;
  --cor-secundaria: #6c63ff;
  --cor-sucess: #97ff58;
  --background: #1e0738de;
  --text-secondary: rgb(190, 184, 184);
  --background-button-dialog: #650095;
}

/* classes comuns  */

.btn-dialog {
  min-width: 120px;
  width: 100%;
  height: 46px;
  border-radius: 10px;
  background-color: var(--background-button-dialog);
  color: #fff;
  border: none;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

/* conteudo  */


body {
  background-image: linear-gradient(
    to bottom,
    var(--cor-primaria),
    #7a28ff,
    #6d1cf2
  );
  padding: 5px 5px;
}

main{
  min-block-size: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}


i {
  font-size: 1.5rem;
  cursor: pointer;
}

span{
  width: 30px;
  height: 30px;
  text-align: center;
}

nav{
  grid-row: 1 / -1;
}

dialog {
  position: relative;
  width: 70%;
  min-block-size: 70vh;
  margin: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

dialog p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000110;
}

dialog i {
  color: #000;
}

dialog .dialog-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

dialog .dialog-header i {
  color: var(--text-secondary);
  width: 15%;
  text-align: left;
  cursor: pointer;
}

dialog .dialog-header button {
  width: 15%;
  cursor: pointer;
}

dialog .dialog-header h3 {
  font-size: 1.5rem;
  width: 70%;
  margin: 0px 10px;
}

dialog .divisorBar{
  min-block-size: 50vh;
  width: 1px;
  border: dashed 1px #000
}

dialog form {
  min-block-size: 55vh;
  display: flex;
  gap: 10px;
}

input {
  min-width: 100px;
  max-width: 400px;
  width: 100%;
  max-height: 44px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid var(--cor-primaria);
  border-radius: 10px;
  padding: 8px;
  font-size: 1rem;
  margin: 0px 0px 30px 0px;
}

label{
  min-width: 100px;
  max-width: 400px;
  width: 100%;
  height: 44px;
}

input[type="checkbox"]{
  max-width: 40px;
  min-width: 10px;
  min-height: 20px;
  max-height: 25px;
  width: 100%;
  height: 100%;
}

textarea {
  max-height: 200px;
  min-width: 100px;
  max-width: 400px;
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

label {
  text-align: left;
  font-size: 1.2rem;
}


.bento-container{
  display: grid;
  min-block-size: 100vh;
  border-radius: 10px;
  flex: 2 0 300px;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr ;
}   

aside.bento-container{
  flex: 1 1 300px ;
  grid-template-columns: repeat( 2 , 2fr);
  grid-template-rows: 1fr 2fr 3fr;
}

section.content{
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
  flex: 20 1 510px;
  padding-top: 10px;
}

header.bento-container{
  flex: 0 0 5vw;
  grid-template-columns: 1fr;
}



.nav-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.nav-content .perfil-container {
  position: absolute;
  top: 10px;
  left: 5px;
}
.nav-content .perfil-container img {
  max-width: 5vw;
  min-width: 65px;
  width: 100%;
  height: 50px;
  height: 100%;
}

.nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  gap: 30px;
}

.nav-items li {
  width: 65px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 90%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.nav-items li img {
  max-width: 100px;
  width: 100%;
}
.nav-items li[variant-0] {
  border: none;
  padding: 0;
}
.nav-items li[variant-1] {
  background-color: #000;
  border: none;
}
.nav-items li[variant-2] {
  background-color: var(--cor-sucess);
  border: none;
}
.nav-items li[variant-2] i {
  color: #000;
  font-size: 2rem;
}



.content .date-container{
  width: 100%;
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-row: 1 / 2 ;
  grid-column: 1 / -1;
  background-color: var(--background);
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  padding: 10px;
}

.date{
  display: flex;
  flex-direction: row;
  color: #f4e0ff;
}

.dayNumber{
  padding: 30px 0px 0px 0px;
  font-size: 4.5rem;
  font-weight: 500;
}
.monther{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.monther p{
  font-size: 24px;
  font-weight: 400;
}
.year p{
  font-size: 24px;
  font-weight: 300;
}
.day{
  display: flex;
  align-items: center;
  width: 130px;
}
.day p{
  font-size: 24px;
  font-weight: 4000;
  text-align: left;
}


.content .cards{
  grid-row: 2 / 4 ;
  grid-column: 1 / -1;
  background-color: #000;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat( 3 , minmax(150px , 250px));
  justify-content: space-around;
  overflow: auto  ;
}

.content .cards .card-item{
  margin: 10px 10px;
  grid-row: 1 / 1;
  background-color: #ffffff;
  border-radius: 10px;
  height: 250px;
}


.content .calendar{
  margin: 10px 0px 10px 0px;
  grid-row: 4 / 8 ;
  grid-column: 1 / -1;
  background-color: #000;
  border-radius: 10px;
}



/*  */


.aside-header{
  margin: 10px 0px 10px 0px;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  height: 10vh;
  background-color: var(--background);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.2), 
  -6px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.aside-header p{
  color:#e15573;
  background-color: #f5d0d8;
  padding: 8px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;

}
.aside-header p i {
  color:#e15573;
}


.aside-item{
  margin: 10px 0px 10px 0px;
  grid-row: 2 / 3 ;
  grid-column: 1 / -1;
  border-radius: 10px;
  padding: 20px 10px;
}

.aside-item img{
  width:100%;
  height:200px;
  border-radius: 10px;
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.2), 
  -6px 0px 4px 2px rgba(0, 0, 0, 0.2);
}


.aside-date{
  display: grid;
  margin: 10px 0px 10px 0px;
  grid-column: 1 / -1;
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: 4px 0px 4px 2px rgba(0, 0, 0, 0.2), 
  -6px 0px 4px 2px rgba(0, 0, 0, 0.2);
  height: 40vh;
}

.aside-date h2 {
  color: white;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.aside-calendar {
  width: 300px;
  overflow: hidden;
  justify-self: center;
}

.aside-calendar div{
  color: #f4e0ff;
}
.aside-calendar .commitment{
  color: var(--cor-sucess);
}


.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days-of-week div {
  text-align: center;
  padding: 8px 0;
  color: #6c63ff;
  font-weight: 600;
}

.days-of-week div:nth-child(7n) {
  border-right: none;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days div {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.days div:hover {
  background-color: #7c2efb;
  font-weight: 700;
  border-radius: 10px;
}

.days div:nth-child(7n) {
  border-right: none;
}

.days div:nth-child(7n + 1) {
  color: red;
}




/* classes para os dialogs */

.form-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  align-items: center;
  text-align: left;
}

.form-priority {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px;
}

.form-priority ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  gap: 15px;
}
.form-priority ul li button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.form-priority textarea{
  max-width: 100%;
}

.button-dialog-info {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background-color: rgb(177, 175, 175);
  border-radius: 70%;
  padding: 6px;
  border: none;
  cursor: pointer;
}
.button-dialog-info i {
  font-size: 1rem;
}

#modal-2 .header-list{
  display: none;
}

#modal-2 .dialog-header nav{
  display: flex;
  justify-content: center;
}

#modal-2 .dialog-header nav div{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 289px;
  max-width: 400px;
  max-height: 40px;
  width: 100%;
  border: 1px solid var(--cor-primaria);
  border-radius: 10px;
  padding: 0px 10px;
}

#modal-2 .dialog-header nav div i{
  font-size: 1.2rem;
  color: #000;
}

#modal-2 .dialog-header nav input{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

#modal-2 .dialog-header nav ul {
  display: flex;
  gap: 20px;
  margin: 0px 30px;
  list-style: none;
  align-items: center;
  font-weight: 500;
}

#modal-2 .dialog-header nav ul li {
  cursor: pointer;
  position: relative; 
}

#modal-2 .dialog-header nav ul li::after {
  content: ''; 
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0; 
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out; 
}

#modal-2 .dialog-header nav ul li:hover::after {
  width: 100%; 
}

#modal-2 .dialog-container{
  min-block-size: 60vh;
  overflow: auto;
  scrollbar-width: none;
}


#modal-3 .form-priority ul{
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#modal-3 .form-priority ul li{
  display: flex;
}

dialog#conclude{
  min-block-size: 70vh;
  max-width: 600px;
  width: 100%;
}

#conclude div{
  display: flex;
  width: 100%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#conclude div p{
  font-size: 2rem;
}

#conclude i{
  position: absolute;
  right: 24px;
  top: 15px;
  cursor: pointer;
}


dialog#infoPriority {
  min-block-size: 70vh;
  max-width: 700px;
  width: 100%;
}

#infoPriority ul{
  display: flex;
  flex-direction: column;
  min-block-size: 50vh;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#infoPriority ul li{
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#infoPriority ul li i {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;  
}

#infoPriority ul li > p {
  font-size: 1rem;
  text-align: left;
}

#infoPriority ul li div{
  display: flex;
  justify-content: space-between;
}

#infoPriority ul li div p{
  font-weight: 500;
}



@media screen and (max-width:1000px) {
  dialog {
    width: 90%;
    scrollbar-width: none;
  }

  main{
    padding: 7px;
  }

  header.bento-container{
    position: fixed;
    grid-column: 1 / -1;
    grid-row: 8 / 9;
    bottom: 10px;
    left: 10px;
    right: 10px;
    min-block-size: 7vh;
    z-index: 10;
  }
    
  .nav-content{
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .nav-items{
    flex-direction: row;
    justify-content: center;
  }
  .nav-content .perfil-container{
    display: none;
  }


}

@media screen and (max-width:843px) {
  main{
    flex-direction: column-reverse;
  }

  aside.bento-container{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    flex: 1 2 100px;
    min-block-size: 5vh;
  }
  
  .aside-item,.aside-date{
    display: none;
  }
  
}

@media screen and (max-width: 800px) {

  dialog form {
    flex-direction: column;
  }

  .form-info {
    width: 100%;
    justify-content: left;
    height: 400px;
  }
  .form-priority {
    width: 100%;
    height: 400px;
  }

  .button-dialog-info {
    bottom: -180px; /* Ajustar / encontrar uma maneira de ajustar  */
  }

  dialog .dialog-header h3 {
    font-size: 1.2rem;
    width: 100%;
  }

  dialog .dialog-header button {
    display: none;
  }

  .btn-dialog-footer {
    display: block;
    margin: 0px 0px 30px 0px;
  }

  .divisorBar{
    display: none;
  }
}


@media screen and (max-width: 750px) {
  #modal-2 .dialog-header nav {
    display: none;
  }

  #modal-2 .header-list{
    display: flex;
    gap: 30px;
  }

  dialog#infoPriority {
    min-block-size: 70vh;
    max-width: 90%;
    width: 100%;
  }

  dialog#conclude{
    min-block-size: 50vh;
    max-width: 90%;
    width: 100%;
  }
  li[variant-0]{
    display: none;
  }

}

@media screen and (max-width: 500px){
  main{
    gap: 30px;
  }
  dialog{
    padding: 10px;
  }

  li[variant-1]{
    display: none;
  }
}

