*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,  #a75df5, #8648E6);
    backdrop-filter: blur(10px);
    padding: 4.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    width: 85vw;
    min-height: 105vh;
    border-radius: 63px;
    background-color: #5619b7c7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 7px 10px 6px #00000065;
}

#retangulo{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: inline;
    z-index: -1;
    width: 70rem;
    height: 46rem;  
}

/* Estilos do header e da nav bar */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    height: 100%;
    padding: 2rem 0px 10px 2rem;
}
header .perfil{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
}
.info_perfil{
    position: absolute;
    width: 15rem;
    left: 7rem;
}
.info_perfil p{
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}
.info_perfil span p{
    font-weight: 400;
    font-size: 14px;
    color: #969EBB;
}

/* estilos nav bar */
.nav_bar {
    width: 5rem;
}
.nav_bar nav ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nav_bar nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #000;
    border-radius: 100%;
    color: #fff;
}
.nav_bar nav ul li:first-child{
    background-color: transparent;
}
.nav_bar nav ul .icon{
    background-color: transparent;
    border: solid 1px #fff;
}
.nav_bar nav ul .icon_create{
    background-color: #97FF58;
    color: #000;
    font-size: 1.5rem;
}

/* fim do header */

/* estilos do conteudo principal */

.conteudo_principal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

/* estilos do cabeçalho */

.cabeçalho_do_conteudo{
    position: relative;
    left: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 10rem;
    width: 700px;
}

.cabeçalho_do_conteudo nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 22.875rem;
    height: 3.688rem;
    background-color: #210835;
    border-radius: 1.4rem;
}
.cabeçalho_do_conteudo nav ul li{
    color: #fff;
    font-weight: 500;
}
.cabeçalho_do_conteudo nav ul li:hover{
    color: #a75df5;
}


.circulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.circulos div{
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

/* fim do cabeçalho */


/* estilos do container do  conteudo*/

.container_do_conteudo{
    display: flex;
    flex-direction: column;
}

/* Estilos do container info */

.container_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container_data{
    width: 17.75rem;
}
.container_data span{
    color: #969EBB;
    font-size: 1.68rem;
    font-weight: 300;
}
 .container_data h2{
    color: #fff;
    font-size: 3.9rem;
    font-weight: 600;
}


.status_salas , .status_agendados{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 16.813rem;
    height: 7.75rem;
    padding: 24px 20px;
    border-radius: 48px;
    background-color: #1E0735;
}
.status_salas h3 , .status_agendados h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}
.status_salas div{
    display: flex;
    gap: 0.5rem;
}
.status_salas span , .status_agendados span{
    display: flex;
    gap: 0.5rem;
}
.status_salas span span{
    color: #97FF58;
}
 .status_salas span p , .status_agendados span p{
    color: #8A8AAB;
}

.status_salas .Restantes span {
    color: #D53933;
}

.status_agendados span span{
    color: #ffff6c;
}

/* fim do container info */


