body {
    background-image: linear-gradient(to right, #6B1BED, #B66EF9);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  main h1 {
    color: #fff;
    text-align: center;
  }
  
  .opções {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 4rem;
    padding: 0 1rem; 
  }
  
  .opções div {
    width: 250px; 
    height:232px; 
    background-color: #481a8ee0;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 1rem;
    transition: 0.5s;
  }
  
  .opções div a p {
    width: 100%;
    max-width: 13.75rem;
    height: auto;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem; 
  }
  
  .opções div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  
  .opções .fa-solid {
    font-size: 3rem;
    color: #fff;
    margin: 3rem 0;
  }
  
  .opções div:hover {
    margin-top: 1rem;
    transition: 100ms;
  }
  